.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn {
	font-size: 1em;
}

.alert {
	border: 1px solid transparent !important;
}

#ignored_cols {
	display: none;
}