/* @import url(//db.onlinewebfonts.com/c/090fac32abeec01857bae0369f615f89?family=AvenirNextLTW04-Light); */

/* header, logo, title bar */
#header {
	display: flex;
	align-items: center;
}
div.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 250px;
	height: 250px;
	
	background-color: #003399;
	border-radius: 50%;
	z-index: 2;
}
div.logo img {
	width: 67%;
}
#xdro-title {
	color: white;
	font-size: 6rem;
	/* font-family: AvenirNextLTW04-Light; */
	margin-top: -1.75rem;
	padding: 0px;
}
#registry-title {
	position: absolute;
	top: 162.5px;
	left: 150px;
	width: calc(90% - 125px);
	background-color: #003399;
	
	text-align: right;
	
	height: 3rem;
}
#registry-title h1 {
	color: white;
	font-size: 1.25rem;
	font-weight: 100;
	padding: 12px;
}

/* search query and search bar */
#search {
	display: flex;
	flex-direction: row;
	width: 92%;
	margin-top: 60px;
}
#search-info {
	background-color: #d7d5cb;
	padding: 32px 2px 50px 8px;
}
#search-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	
	background-color: #eeece1;
}

#search-input input {
	border: 1px solid #3333;
	line-height: 2em;
}

.result-instructions {
	/* visibility: hidden; */
}

/* search autocomplete */

#autocomplete {
	display: none;
	flex-direction: column;
	
	background-color: #fff;
	border: 1px solid #000;
	
	position: absolute;
	padding: 8px 16px;
	z-index: 99;
}

#autocomplete > span {
	padding-bottom: 4px;
}
#autocomplete > span:hover {
	background-color: #d7d5cb;
	cursor: pointer;
}

.predict-name {
	color: #6699ff;
	font-weight: 700;
}

/* searching indicator */
#search-feedback {
	display: flex;
	flex-direction: row;
	align-items: center;
	visibility: hidden;
}

.spinner {
  animation: spin 2s linear infinite;
}

.spinner img {
	width: 32px;
	height: 32px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* results */
#results {
	visibility: hidden;
	width: 92%;
	margin-top: 50px;
}
#results table {
	width: 100%;
	text-align: center;
	font-weight: 600;
}

#results thead {
	border-bottom: 4px solid #24456d;
}

#results thead th {
	text-align: center;
	font-weight: 700;
	
	padding: 8px 0px;
	border: 1px dashed gray;
}

#results tbody td {
	border: 1px dashed gray;
	padding: 8px 0px;
}

#results tbody td:nth-child(1) {
	font-weight: 700;
}

/* NO MATCH LISTED span and footer link */
#match-listed {
	visibility: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 150px;
}

#footer-link {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	font-weight: 600;
	color: #24456d;
}

#footer-link div {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-right: 8%;
}